*{margin:0;padding:0;}
body{
    position: relative;
}
h2{
    color:white;
    background-color: pink;
    line-height: 50px;
    text-align: center;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width:500px;

}
.img{
    width: 500px
}
.title{
    line-height: 50px;
}
.title:hover{
    color:rgb(73, 73, 77);
    cursor:pointer;
}
.content:hover{
    color:pink;
    cursor: pointer;
}
.about{
    line-height: 50px;
}
.about:hover{
    color:rgb(56, 52, 52) ;
    cursor: pointer;
}
li{
    line-height: 50px;
}
.homework02{
    text-align: center;
}
.left-nav{
    background: paleturquoise;
    width: 100px;
    position: absolute;
    top:65px;
    left:20px
}
.left-nav>ul{
    list-style: none;
    
}
.left-nav>ul>li>a{
    text-decoration: none；
}