*{margin: 0;padding: 0}
div{
    top: 50px;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    margin: auto;
    position: relative;
    /* background: red; */
}
img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}