*{margin:0;padding:0}
body{
    position: relative;
}
            .head{
                line-height: 50px;
                background-color: rgba(136, 139, 138, 0.445);
                text-align: center;
    
            }
            .content{
                width:400px;
                background-image: url('images/timg2.jpg');
                margin-left: auto;
                margin-right: auto;
                padding:10px;
            }
            .img{
                width:400px;
            }
            .input{
                width:284px;
                height:34px;
            }
            button{
                width:100px;
                height:34px;
                background: #7FFFD4;
                /* border-width
                border-style
                border-color
                 */
                border:1px solid springgreen;
            }
            .about{
                color:#00BFFE;
                line-height:40px;
            }
            ul{
                list-style: none;
            }
            li{
                margin-top: 10px;
            }
            .first-page{
                top: 61px;
                right:404px;
                position: absolute;
                width: 80px;
                height: 34px;
                text-align: center;
            }
            a{
                text-decoration: none;
                display: block;
                width: 80px;
                line-height: 34px;
                background: #dddd;

            }
            a:hover{
                background: rgb(68, 67, 67);
                color: white;
            }